.textbook {
  margin: 0.3rem;
  border: 1px solid #bbbbbb;
  .textbook_image {
    border: 1px solid #eeeeee;
  }
  .textbook_content {
    padding: 0.5rem 0.5rem 0 1.5rem;
    width: 100%;
  }
}

.selected {
  background: blue !important;
  color: white !important;
}
