.msg-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
  padding: 0.3rem 0;

  &.content-justify-right {
    flex-direction: row-reverse;
  }
}

.msg-box {
  max-width: 70%;
  border-radius: 12px;
  padding: 6px 12px;
  color: white;

  &.bg-teacher {
    background-color: #F335FF;
  }

  &.bg-me {
    background-color: #2979FF;
  }

  &.bg-other {
    background-color: #cccccc;
  }
}

.msg-text {
  letter-spacing: 0;
  font-size: 1em;
  word-wrap: break-word;
  margin-bottom: 0;

  &.white {
    color: white;
  }

  &.black {
    color: black;
  }

  &.bold {
    font-weight: 600;
  }
}

.msg-user {
  padding: 0 0.5rem;
  .which-user {
    display: flex;
    align-items: center;
  }

  .msg-time {
    font-size: 10px;
    display: block;
  }
}
